<template>
	<div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Usuario</h4>
                </div>
                <div class="card-body">
                	<div class="pull-left">
                    	<b-button @click="add">Agregar</b-button>
                    </div>
                	<app-table class="pt-5" 
                	 :items="items" 
                	 :fields="fields" 
                	 :loading="loading"
                	 :types="'estudiante'" 
                	 :options="options"
                	></app-table>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
import Bus from '../../../modules/eventbus';
import AppTable from '../../../components/AppTableComponent';
import  AppCreate from './AppCreate';
export default {
	name: 'AppIndex',
	components: { AppCreate, AppTable },
	data() {
		return {
			fields: [
				'#',
				{ key: 'username', label: 'Usuario', sortable: true },
				{ key: 'email', label: 'Correo Electrónico', sortable: true }, 
				{ key: 'person', label: 'Tipo', sortable: true }, 
				{ key: 'actions', label: 'Opciones', sortable: false, class: 'text-center'  }, 
			],
			items: [],
			loading: true,
			options: {
				"buttons": {
					"view": {
						visible: true
					},
					"edit": {
						visible: true,
						view: 'route',
						route: '/users/'
					},
					"status": {
						visible: true,
						view: 'modal'
					},
					"delete": {
						visible: false
					}
				}
			}
		}
	},
	methods: {
		index() {
			this.$http.users()
			.then(res => {
				this.items = res.data
				this.loading = false
			})
			.catch(err => {
				this.loading = false
			})
		},
		add() {
			this.$router.push({ path: '/admin/users/new'})
		}
	},
	created() {
		this.index()
		
		Bus.$on('getUsers', ()=> {
            this.index()  
        })
	}
}
</script>