<template>
	<div>
		  <div class="logo text-center">
	        <h1>Fundamusical</h1>
	        <h2>Núcleo Ejido</h2>
	      </div>
	      <div class="login-box">
	        <form class="login-form" v-if="login">
	          <h4 class="login-head"><i class="fa fa-lg fa-fw fa-user"></i>Iniciar Sesión</h4>
	          <div class="form-group">
	            <label class="control-label">Correo Electrónico</label>
	            <input class="form-control" type="text" v-model="form.email" autofocus>
	            <small class="text-danger">{{ errors.email }}</small>
	          </div>
	          <div class="form-group">
	            <label class="control-label">Contraseña</label>
	            <input class="form-control" type="password" v-model="form.password">
	            <small class="text-danger">{{ errors.password }}</small>
	          </div>
	          <div class="form-group btn-container">
	            <button class="btn btn-primary btn-block" @click.prevent="submit"><i class="fa fa-sign-in fa-lg fa-fw"></i>INGRESAR</button>
	          </div>
	          <div class="form-group pull-right">
	            <div class="utility">
	              <p class="semibold-text mb-2"><a href="#" data-toggle="flip">Olvidó contraseña?</a></p>
	            </div>
	          </div>
	        </form>
	        <form class="forget-form" v-if="!login">
	          <h3 class="login-head"><i class="fa fa-lg fa-fw fa-lock"></i>Olvidó Contraseña?</h3>
	          <div class="form-group">
	            <label class="control-label">Correo Electrónico</label>
	            <input class="form-control" type="text" v-model="form.email">
	          </div>
	          <div class="form-group btn-container">
	            <button class="btn btn-primary btn-block"><i class="fa fa-unlock fa-lg fa-fw"></i>Resetear</button>
	          </div>
	          <div class="form-group mt-3">
	            <p class="semibold-text mb-0"><a href="#" data-toggle="flip"><i class="fa fa-angle-left fa-fw"></i> Iniciar Sesión</a></p>
	          </div>
	        </form>
	      </div>
	</div>
</template>
<script>
export default {
	data() {
		return {
			form: {},
			errors: {},
			login: true
		}
	},
	methods: {
		async submit() {
			this.errors = {}
			let fields = ['email', 'password'];
			let field = 'Campo obligatorio';

			for(let i=0; i<fields.length; i++) {
				if(!this.form[fields[i]]) {
					this.errors[fields[i]] = field
				}
			}

			if(Object.keys(this.errors).length > 0) {
				return
			}

			if(!this.validEmail(this.form.email)) {
				this.errors[fields[0]] = 'Correo Electrónico no válido'
				return
			}

			this.$http.login(this.form)
			.then(response => {
				this.$store.dispatch('saveToken', response.data)
				window.location.href="/#/admin/dashboard";
				window.location.reload();
			})
			.catch(error => {
				console.log(error)
				if(error.response.data) {
					var message = '';
					if(error.response.data.length > 0 ) {
						var err = error.response.data;
                        for(var i in err){
                          message= message + err[i][Object.keys(err[i])].toString() + ' \n';
                        }
					} 

					if (error.response.data.message) {
						message= error.response.data.message 
					}

				} else {
					message= 'Ocurrio un error';
				}

				this.$bvToast.toast(message, {
                  title: 'Aviso',
                  variant: 'danger',
                  'auto-hide-delay': 1000,
                  solid: true
                });
			})

		}
	}
}
</script>