<template>
	<div class="row">
		<div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Nuevo Estudiante</h4>
                </div>
                <div class="card-body">
                    <form ref="form">
                        <div class="row">
                            <div class="col-md-12 col-lg-12 col-sm-12 pr-1">
                                <small class="text-danger">* Campos requeridos</small>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12 pr-1 mb-0">
                                <div class="form-group">
                                    <label :class="{'control-label': true, 'text-danger':errors.first_name}">Primer Nombre <strong class="text-danger">*</strong></label>
                                    <input type="text" class="form-control" v-model="form.first_name">
                                    <small class="text-danger">{{errors.first_name}}</small>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12 pr-1">
                                <div class="form-group">
                                    <label>Segundo Nombre</label>
                                    <input type="text" class="form-control" v-model="form.middle_name">
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12 pr-1">
                                <div class="form-group">
                                    <label :class="{'control-label': true, 'text-danger':errors.last_name}">Primer Apellido <strong class="text-danger">*</strong></label>
                                    <input type="text" class="form-control" v-model="form.last_name">
                                    <small class="text-danger">{{errors.last_name}}</small>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12 pr-1">
                                <div class="form-group">
                                    <label>Segundo Apellido</label>
                                    <input type="text" class="form-control" v-model="form.second_last_name">
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12 pr-1">
                                <div class="form-group">
                                    <label :class="{'control-label': true, 'text-danger':errors.birth_date}">Fecha de Nacimiento <strong class="text-danger">*</strong></label>
                                    <input type="date" :min="min_date" :max="max_date" class="form-control" v-model="form.birth_date">
                                    <small class="text-danger">{{errors.birth_date}}</small>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12 pr-1">
                                <div class="form-group">
                                    <label>Correo Electrónico</label>
                                    <input type="email" class="form-control" v-model="form.email" placeholder="user@example.com">
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12 pr-1">
                                <div class="form-group">
                                    <label>Nacionalidad</label>
                                    <input type="text" class="form-control" v-model="form.identification">
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12 pr-1">
                                <div class="form-group">
                                    <label>Cédula de Identidad</label>
                                    <input type="text" class="form-control" v-model="form.identification">
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12 pr-1">
                                <div class="form-group pb-0">
                                    <label :class="{'control-label': true, 'text-danger':errors.sex}">Género <strong class="text-danger">*</strong></label>
                                    <b-form-select v-model="form.sex" :options="options_sex">
                                        <template slot="first">
                                            <option :value="null" disabled>-- Seleccione una opción --</option>
                                        </template>
                                    </b-form-select>
                                    <small class="text-danger">{{errors.sex}}</small>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12 pr-1">
                                <div class="form-group pb-0">
                                    <label :class="{'control-label': true, 'text-danger':errors.laterality}">Lateralidad <strong class="text-danger">*</strong></label>
                                    <b-form-select v-model="form.laterality" :options="options_lat">
                                        <template slot="first">
                                            <option :value="null" disabled>-- Seleccione una opción --</option>
                                        </template>
                                    </b-form-select>
                                    <small class="text-danger">{{errors.laterality}}</small>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12 pr-1">
                                <div class="form-group pb-0">
                                    <label :class="{'control-label': true, 'text-danger':errors.civil_status}">Estado Civil <strong class="text-danger">*</strong></label>
                                    <b-form-select v-model="form.civil_status" :options="options_civil">
                                        <template slot="first">
                                            <option :value="null" disabled>-- Seleccione una opción --</option>
                                        </template>
                                    </b-form-select>
                                    <small class="text-danger">{{errors.civil_status}}</small>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Observacion</label>
                                    <textarea rows="4" cols="80" class="form-control" v-model="form.observation"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group text-center">
                                    <upload-image 
                                        class="p-2"
                                        :file.sync="file" 
                                        :imageName.sync="imageName" 
                                        :imageFile.sync="imageFile" 
                                        :imageUrl.sync="imageUrl"
                                    ></upload-image>
                                    <b-img v-if="imageUrl != ''" thumbnail bg-dark rounded fluid class="img-profile" :src="imageUrl"></b-img>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-info btn-fill pull-right" @click.prevent="add">Guardar</button>
                        <button class="btn btn-primary btn-fill pull-right" @click="back">Volver</button>

                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
	</div>
</template>
<script>
import UploadImage from '../../../components/AppUploadImageComponent';
export default {
    components: { UploadImage },
	data() {
		return {
			form: {},
            state: {},
            options_sex: [
                { value: 'F', text: 'Femenino' },
                { value: 'M', text: 'Masculino' },
                { value: 'O', text: 'Otro' }
            ],
            options_lat: [
                { value: 'D', text: 'Diestro' },
                { value: 'Z', text: 'Zurdo' },
                { value: 'A', text: 'Ambos' }
            ],
            options_civil: [],
            file: '',
            imageName: '',
            imageFile: '',
            imageUrl: '',
            errors: {},
            min_date: '1940-01-01',
            max_date: '',
        }
	},
    methods: {
        index() {
            this.max_date = this.formatDateNow(-2, 'years')
            this.$http.civil_status()
            .then(response => {
                console.log(response)
                var options = response.data
                for(let i in options) {
                    let row = {}
                    row.value = options[i]._id
                    row.text = options[i].name

                    this.options_civil.push(row)
                }
            })
        },
        add() {
            this.errors = {}
            var fields = ['first_name','last_name','birth_date','sex','laterality','civil_status'];
            var field = "Campo obligatorio"
            
            for(let i=0; i<fields.length; i++) {
                if(!this.form[fields[i]]) {
                    this.errors[fields[i]] = field 
                }
            }
 
            if(Object.keys(this.errors).length > 0) {
                return
            }

            if(this.form.birth_date > this.max_date) {
                this.errors['birth_date'] = 'Debes seleccionar una fecha menor a la permitida'
                return
            }
            console.log(this.form)
            let params = new FormData();

            for(var form in this.form) {
              if(this.form[form] != null) {
                  params.append(form, this.form[form])
              }
            }

            if(this.file != '') {
              params.append('imagen', this.file)
            }

            for(let i of params.entries()) {
                console.log(i[0] + ' '+ i[1])
            }
            
            this.$http.add_student(params)
            .then(response => {
                console.log(response)

                this.$bvToast.toast(response.data.status, {
                  title: 'Aviso',
                  variant: 'success',
                  'auto-hide-delay': 1000,
                  solid: true
                });
            })
            .catch(error => {
                
            })

        },
        back() {
            this.$router.push({ path:'/admin/students' })
        }
    },
    mounted() {
        this.index()
    },
    watch: {
        file(val) {
            console.log(val)
        }
    }
}
</script>