<template>
	<div class="row">
		<div class="col-md-12 col-lg-12">
			<b-card no-body>
				<h4 class="pl-3 pt-2">Expediente del Estudiante {{fullName}}</h4>
				<div class="text-right">
					<strong class="pull-right">Fecha de creación: {{ formatDateDMYH(form.created) }}</strong>
				</div>
			    <b-tabs card>
			    	<b-tab title="Personal" active>
			        	<b-row>
			        		<b-col col lg="4" md="12" sm="12" xs="12" class="text-center">
			        			<b-img bg-dark fluid :src="imageUrl" class="img-student"></b-img><br>
			        			<strong class="mt-5">Estudiante</strong>
			        			<h2>{{ fullName }}</h2>
			        			<b-col class="text-center" v-if="edit">
                                    <upload-image 
                                        class="p-2"
                                        :file.sync="file" 
                                        :imageName.sync="imageName" 
                                        :imageFile.sync="imageFile" 
                                        :imageUrl.sync="imageUrl"
                                    ></upload-image>
			        			</b-col>
			        		</b-col>
			        		<b-col col lg="4" md="6" sm="12" xs="12">
			        			<b-form-group
							        label="Primer Nombre *"
							        label-for="first_name"
							    >
							        <b-form-input id="first_name" v-model="form.first_name" required :disabled="!edit"></b-form-input>
							        <small class="text-danger">{{errors.first_name}}</small>
							    </b-form-group>
                                <b-form-group
							        label="Segundo Nombre"
							        label-for="middle_name"
							    >
							        <b-form-input id="middle_name" v-model="form.middle_name" :disabled="!edit"></b-form-input>
							    </b-form-group>
							    <b-form-group
							        label="Primer Apellido *"
							        label-for="last_name"
							    >
							        <b-form-input id="last_name" v-model="form.last_name" required :disabled="!edit"></b-form-input>
							        <small class="text-danger">{{errors.last_name}}</small>
							    </b-form-group>
                                <b-form-group
							        label="Segundo Apellido *"
							        label-for="second_last_name"
							    >
							        <b-form-input id="second_last_name" v-model="form.second_last_name" required :disabled="!edit"></b-form-input>
							    </b-form-group>
                                <b-form-group
							        label="Cédula de Identidad"
							        label-for="identification"
							    >
							        <b-form-input id="identification" v-model="form.identification" required :disabled="!edit"></b-form-input>
							        <small class="text-danger">{{errors.identification}}</small>
							    </b-form-group>
                                <b-form-group
							        label="Celular"
							        label-for="phone_number"
							    >
							        <b-form-input id="phone_number" v-model="form.phone_number" required :disabled="!edit"></b-form-input>
							        <small class="text-danger">{{errors.phone_number}}</small>
							    </b-form-group>
							    <b-form-group
							        label="Estatus"
							        label-for="status"
							    >
                                    <b-form-select id="status" v-model="form.status" :options="options_status" :disabled="!edit">
                                        <template slot="first">
                                            <option :value="null" disabled selected>-- Seleccione una opción --</option>
                                        </template>
                                    </b-form-select>
                                    <small class="text-danger">{{errors.sex}}</small>
                                </b-form-group>
			        		</b-col>
			        		<b-col col lg="4" md="6" sm="12" xs="12">
                                <b-form-group
							        label="Fecha de Nacimiento *"
							        label-for="birth_date"
							    >
							        <b-form-input id="birth_date" v-model="form.birth_date" type="date" :min="min_date" :max="max_date" :disabled="!edit"></b-form-input>
                                    <small class="text-danger">{{errors.birth_date}}</small>
							    </b-form-group>
                                <b-form-group
							        label="Edad"
							        label-for="age"
							    >
							        <b-form-input id="age" v-model="age" disabled></b-form-input>
							    </b-form-group>
                                <b-form-group
							        label="Género *"
							        label-for="sex"
							    >
                                    <b-form-select id="sex" v-model="form.sex" :options="options_sex" :disabled="!edit">
                                        <template slot="first">
                                            <option :value="null" disabled>-- Seleccione una opción --</option>
                                        </template>
                                    </b-form-select>
                                    <small class="text-danger">{{errors.sex}}</small>
                                </b-form-group>
                                <b-form-group
							        label="Estado Civil *"
							        label-for="email"
							    >
                                    <b-form-select id="civil_status" v-model="form.civil_status" :options="options_civil" :disabled="!edit">
                                        <template slot="first">
                                            <option :value="null" disabled>-- Seleccione una opción --</option>
                                        </template>
                                    </b-form-select>
                                    <small class="text-danger">{{errors.civil_status}}</small>
                                </b-form-group>
                                <b-form-group
							        label="Correo Electrónico"
							        label-for="email"
							    >
							        <b-form-input id="email" v-model="form.email" :disabled="!edit"></b-form-input>
							        <small class="text-danger">{{errors.email}}</small>
							    </b-form-group>
                                <b-form-group
							        label="Nacionalidad"
							        label-for="nacionality"
							    >
							        <b-form-input id="nacionality" v-model="form.nacionality" :disabled="!edit"></b-form-input>
							    </b-form-group>
							    <b-form-group
							        label="Lateralidad *"
							        label-for="laterality"
							    >
                                    <b-form-select id="laterality" v-model="form.laterality" :options="options_lat" :disabled="!edit">
                                        <template slot="first">
                                            <option :value="null" disabled selected>-- Seleccione una opción --</option>
                                        </template>
                                    </b-form-select>
                                    <small class="text-danger">{{errors.laterality}}</small>
                                </b-form-group>
			        		</b-col>
			        	</b-row>
			        	<b-row>
			        		<b-col>
			        			<b-form-group
							        label="Observación"
							        label-for="observation"
							    >
                                    <b-form-textarea
								      id="observation"
								      v-model="form.observation"
								      :disabled="!edit"
								      rows="3"
								      max-rows="5"
								    ></b-form-textarea>
                                </b-form-group>
			        		</b-col>
			        	</b-row>
			        	<b-row>
			        		<button class="btn btn-info btn-fill pull-right" v-if="edit" @click.prevent="add">Guardar</button>
			      		</b-row>
			      	</b-tab>
			      	<b-tab title="Familiares">
				        <b-card-text>Tab Contents 2</b-card-text>
				        <b-row>
				        	<strong>Datos de Padres</strong>
				        </b-row>
				    </b-tab>
				    <b-tab title="Académico">
				        <b-card-text>Tab Contents 2</b-card-text>
				    </b-tab>
			    </b-tabs>
			</b-card>
			<b-col class="mt-2">
				
                <button class="btn btn-primary btn-fill pull-right ml-2" @click="back">Volver</button>
			</b-col>
			
        </div>
	</div>
</template>
<script>
import { Model } from './model'; 
import { Images } from '../../../mixins/images';
import UploadImage from '../../../components/AppUploadImageComponent';
export default {
	mixins:[Model, Images],
    components: { UploadImage },
	props:{
		id: {
			type: [String]
		},
		edit: {
			type: [Boolean]
		}
	},
	computed: {
		fullName() {
			var middle_name = this.form.middle_name? this.form.middle_name:''
			var second_last_name = this.form.second_last_name? this.form.second_last_name:''
			var full_name = this.form.first_name + ' ' + middle_name + ' ' + this.form.last_name + ' ' + second_last_name

			return full_name 
		}, 
		age() { return this.calculateAge(this.form.birth_date) }
	},
	data() {
		return {
			form: {},
			errors: {},
			options_sex: [],
            options_civil: [],
            options_lat: [],
            options_status: [],
            file: '',
            imageName: '',
            imageFile: '',
            imageUrl: '',
            min_date: '1940-01-01',
            max_date: ''
		}
	},
	methods: {
		index() {
			this.max_date = this.formatDateNow(-2, 'years')
			this.$http.student(this.id)
			.then(response => {
				this.form = response.data;
				this.form.birth_date = this.formatDateStand(this.form.birth_date);
				if(this.form.image == undefined) {
					this.imageUrl = this.routeImagePersons + 'icon_user.jpg';
				} else {
					this.imageUrl = this.routeImagePersons + this.form.image;
				}
			})
			.catch(error => {
				console.log(error)
			})
		},
		add() {

		},
		back() {
			this.$router.push('/admin/students');
		}
	},
	mounted() {
		if(!this.id) {
			this.back()
		}
		this.index()
	},
	created() {
		this.init()
	}
}
</script>