<template>
	<div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Estudiantes</h4>
                    <div class="pull-right">
                    	<b-button @click="add">Agregar</b-button>
                    </div>
                </div>
                <div class="card-body">
					<div>
						{{currentPage}}
				    	<b-table striped hover 
				    		:items="items" 
				    		:fields="fields"
				    		:per-page="perPage"
      						:current-page="currentPage"
				    	>
				    		<template slot="#" slot-scope="data">
						        {{ data.index + 1 }}
						    </template>
						    <template slot="sex" slot-scope="data">
						        {{ data.value =='M'? 'Masculino':data.value =='F'? 'Femenino':'Otro' }}
						    	
						    </template>
				    	</b-table>
			    		<div class="text-right">
				    		<b-pagination
						      	v-model="currentPage"
						      	:total-rows="rows"
						      	:per-page="perPage"
						    ></b-pagination>
			    		</div>
				  	</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	import { config } from '../../../../mixins/index';
	import AppCreate from './AppCreate';
	export default {
		name: 'AppIndex',
		mixins: [config],
		components: { AppCreate },
		data() {
			return {
				perPage: 0,
				currentPage: 1,
				fields: [
					'#',
					{ key: 'first_name', label: 'Nombre' },
					{ key: 'last_name', label: 'Apellido' }, 
					{ key: 'identification', label: 'Cédula de Identidad' }, 
					{ key: 'sex', label: 'Sexo' }, 
				],
				items: [],
			}
		},
		computed: {
			rows() {
				return this.items.length
			},
		},
		methods: {
			index() {
				this.$http.students()
				.then(res => {
					console.log(res.data)
					this.items = res.data
				})
			},
			add() {
				this.$router.push({ path: '/admin/students/new'})
			}
		},
		created() {
			this.perPage = this.paginate_config.perPage
			this.index()
		}
	}
</script>