<template>
	<div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Estudiantes</h4>
                </div>
                <div class="card-body">
                	<div class="pull-left">
                    	<b-button @click="add">Agregar</b-button>
                    </div>
                	<app-table class="pt-5" 
                	 :items="items" 
                	 :fields="fields" 
                	 :loading="loading"
                	 :types="'estudiante'" 
                	 :options="options"
                	></app-table>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
import Bus from '../../../modules/eventbus';
import AppTable from '../../../components/AppTableComponent';
import  AppCreate from './AppCreate';
export default {
	name: 'AppIndex',
	components: { AppCreate, AppTable },
	data() {
		return {
			fields: [
				'#',
				{ key: 'first_name', label: 'Nombre', sortable: true },
				{ key: 'last_name', label: 'Apellido', sortable: true }, 
				{ key: 'identification', label: 'Cédula de Identidad', sortable: true }, 
				{ key: 'birth_date', label: 'Fecha Nacimiento', 
					formatter: (value, key, item) => { return this.formatDate(value)}, 
					sortable: true }, 
				{ key: 'sex', label: 'Genero', 
					formatter: (value, key, item) => { return value=='F'? 'Femenino':value=='M'? 'Masculino': 'Otro'}, 
					sortable: true, sortByFormatted: true, filterByFormatted: true }, 
				{ key: 'status', label: 'Activo', 
					formatter: (value, key, item) => { return value==true? 'Si':'No' }, 
					sortable: true, sortByFormatted: true, filterByFormatted: true },
				{ key: 'actions', label: 'Acciones', sortable: false, class: 'text-center'  }, 
			],
			items: [],
			loading: true,
			options: {
				"buttons": {
					"view": {
						visible: true,
						view: 'route',
						route: '/admin/students/view',
						name: 'students_view'
					},
					"edit": {
						visible: true,
						view: 'route',
						route: '/admin/students/edit',
						name: 'students_edit'
					},
					"status": {
						visible: true,
						view: 'modal'
					},
					"delete": {
						visible: false
					}
				}
			}
		}
	},
	methods: {
		index() {
			this.$http.students()
			.then(res => {
				this.items = res.data
				this.loading = false
			})
			.catch(err => {
				this.loading = false
			})
		},
		add() {
			this.$router.push({ path: '/admin/students/new'})
		}
	},
	created() {
		this.index()
		
		Bus.$on('getStudents', ()=> {
            this.index()  
        })
	}
}
</script>