<template>
  <div>
    <b-modal 
    	id="edit" 
    	ref="edit"
    	title="Editar Tipo de Instrumento" 
    	@show="resetModal"
      	@hidden="resetModal"
      	@ok="handleOk"
    >
        <form ref="form" @submit.stop.prevent="handleSubmit">
	        <b-form-group
	          :state="nameState"
	          label="Nombre"
	          label-for="name-input"
	          invalid-feedback="Campo obligatorio"
	        >
	          <b-form-input
	            id="name-input"
	            v-model="form.name"
	            :state="nameState"
	            required
	          ></b-form-input>
        	</b-form-group>
      	</form>
      	<template slot="modal-footer" slot-scope="{ ok, cancel }">
		    <b-button variant="danger" @click="cancel()">
		        Cerrar
		    </b-button>
		    <b-button variant="primary" @click="ok()">
		        Guardar
		    </b-button>
	    </template>
    </b-modal>
  </div>
</template>
<script>
import Bus from '../../../modules/eventbus';

export default {
	data() {
      return {
      	id: null,
        form: {},
        nameState: null
      }
    },
    mounted() {
    	Bus.$on('id_', (data) => {
	    	this.id = data
	    	this.index()
	    });
    },
    methods: {
    	index() {
    		this.$http.type_instrument(this.id)
    		.then(response => {
    			this.form = response.data
    		})
    		.catch(error => {
    			console.log(error.response)
    		})
    	},
      	checkFormValidity() {
        	const valid = this.$refs.form.checkValidity();
        	this.nameState = valid ? 'valid' : 'invalid';
        	return valid;
      	},
	    resetModal() {
	        this.form = {};
	        this.nameState = null;
	    },
	    handleOk(bvModalEvt) {
	        bvModalEvt.preventDefault();
	        this.handleSubmit();
	    },
	    handleSubmit() {
	        if (!this.checkFormValidity()) {
	          return;
	        }
	        this.$http.edit_type_instrument(this.id, this.form)
	        .then(response => {
		        Bus.$emit('getTypesInstruments');

		        this.$bvToast.toast(response.data.status, {
		          title: 'Aviso',
		          variant: 'success',
		          'auto-hide-delay': 1000,
		          solid: true
		        });

		        this.$nextTick(() => {
		          this.$refs.edit.hide()
		        });
	        })
	        .catch(error => {
	        	console.log(error)
	        	if(error.response.status == 422) {
	        		this.nameState = 'invalid';
	        	} else {
	        		this.$bvToast.toast('Ocurrio un error', {
		          		title: 'Error',
		          		variant: 'danger',
		          		solid: false
		        	})
	        	}
	        })
	    }
    }
}
</script>