<template>
	<div>
        <aside class="app-sidebar">
          <div class="app-sidebar__user"><img class="app-sidebar__user-avatar" :src="images" alt="User Image">
            <div>
              <p class="app-sidebar__user-name">German Gutierrez</p>
              <p class="app-sidebar__user-designation">Developer</p>
            </div>
          </div>
          <ul class="app-menu">
            <li>
              <router-link class="app-menu__item" :to="{ path: '/admin/dashboard' }">
                <i class="app-menu__icon fa fa-dashboard"></i>
                <span class="app-menu__label">Dashboard</span>
              </router-link>
            </li>
            <li>
              <router-link class="app-menu__item" :to="{ path: '/admin/students' }">
                <i class="app-menu__icon fa fa-dashboard"></i>
                <span class="app-menu__label">Estudiantes</span>
              </router-link>
            </li>
            
            <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-laptop"></i><span class="app-menu__label">Instrumentos</span><i class="treeview-indicator fa fa-angle-right"></i></a>
              <ul class="treeview-menu">
                <li>
                  <router-link class="app-menu__item" :to="{ path: '/admin/typesinstruments' }">
                    <i class="app-menu__icon fa fa-users"></i>
                    <span class="app-menu__label">Tipos</span>
                  </router-link>
                </li>
                <li>
                  <router-link class="app-menu__item" :to="{ path: '/admin/instruments' }">
                    <i class="app-menu__icon fa fa-users"></i>
                    <span class="app-menu__label">Instrumentos</span>
                  </router-link>
                </li>
              </ul>
            </li>
            <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-users"></i><span class="app-menu__label">Módulo Usuarios</span><i class="treeview-indicator fa fa-angle-right"></i></a>
              <ul class="treeview-menu">
                <li>
                  <router-link class="app-menu__item" :to="{ path: '/admin/roles' }">
                    <i class="app-menu__icon fa fa-users"></i>
                    <span class="app-menu__label">Roles</span>
                  </router-link>
                </li>
                <li>
                  <router-link class="app-menu__item" :to="{ path: '/admin/permissions' }">
                    <i class="app-menu__icon fa fa-users"></i>
                    <span class="app-menu__label">Permisos</span>
                  </router-link>
                </li>
                <li>
                  <router-link class="app-menu__item" :to="{ path: '/admin/users' }">
                    <i class="app-menu__icon fa fa-users"></i>
                    <span class="app-menu__label">Usuarios</span>
                  </router-link>
                </li>
              </ul>
            </li>
          </ul>
        </aside>   
    </div>
</template>
<script>
import { Images } from '../../../mixins/images';
export default {
  mixins:[Images],
  data() {
    return {
      images: null
    }
  },
  methods: {
    index() {
      this.images = this.routeImagePersons + 'icon_user.jpg'
      console.log(this.images)
    }
  },
  mounted() {
    this.index()
  }
}
</script>