<template>
  <div>
    <footer class="footer text-center pt-4">
      <strong>
        Copyright &copy; {{ year }}
        All Rights Reserved. Designed and Developed by <a target="_blank" href="https://www.sercontec.com.ve">Germán Gutierrez Valero</a>
      </strong>
    </footer>
  </div>
</template>
<script>
export default {
  name: 'BaseFooter',
  data () {
    return {
      year: new Date().getFullYear()
    }
  }
}
</script>
