<template>
  <footer class="footer">
      <div class="container-fluid">
          <nav>
              <p class="copyright text-center">
                  © 2019 - {{ year }}
                  All Rights Reserved. Designed and Developed by <a href="https://sercontec.com.ve">Germán Gutierrez</a>.
              </p>
          </nav>
      </div>
  </footer>
</template>

<script>
export default {
  name: 'BaseFooter',
  data: function () {
    return {
      year: new Date().getFullYear()
    }
  }
}
</script>
