<template>
	<b-modal :id="delModal.id" :title="delModal.title" centered @hide="resetDelModal">
      <pre>{{ delModal.content }}</pre>
    </b-modal>
</template>
<script>
export default {
	name: 'AppModalDel',
	props: {
		delModal: {}
	},
	methods: {
	    resetDelModal() {
	        this.delModal.title = ''
	        this.delModal.content = ''
	    }
	}
}
</script>