<template>
	<b-modal :id="infoModal.id" :title="infoModal.title" ok-only @hide="resetInfoModal">
      <pre>{{ infoModal.content }}</pre>
      {{infoModal.field}}
      <div v-html="infoModal.field"></div>
    </b-modal>
</template>
<script>
export default {
	name: 'AppModal',
	props: {
		infoModal: {}
	},
	methods: {
	    resetInfoModal() {
	        this.infoModal.title = ''
	        this.infoModal.content = ''
	        this.infoModal.field = ''
	    }
	}
}
</script>