<template>
	<div>
		<div class="text-right">
            <label>Filas por página:</label>
            <b-form-select class="col-md-1" col-sm-2 col-xs-2
    	      v-model="rowPerPage" 
        	  :options="pageOptions"
          	>
          	</b-form-select>
            <span>
          		{{currentPageInitial == 1? 1: (currentPageInitial-1) * (rowPerPage) + 1}} - {{rowPerPage*currentPageInitial > totalRows ? totalRows:rowPerPage*currentPageInitial}} de {{totalRows}}
            </span>
        </div>

		<b-pagination
	      	v-model="currentPageInitial" 
	      	:total-rows="totalRows"
	      	:per-page="rowPerPage"
	      	align="center"
	    ></b-pagination>
	</div>
</template>
<script>
export default {
	computed: {
		rowPerPage: {
            get: function(){
                return this.perPage;
            },
            set: function(newValue){
                this.$emit('update:perPage', newValue)
            }   
        },
        currentPageInitial: {
            get: function(){
                return this.currentPage;
            },
            set: function(newValue){
                this.$emit('update:currentPage', newValue)
            }   
        },
	},
	props: {
		totalRows: { type: Number, required: true },
		currentPage: { type: Number, required: true },
		perPage: { type: Number, required: true }
	},
	data() {
		return {
			pageOptions:[]		
		}
	},
	created() {
		this.pageOptions = this.paginate_config.pageOptions
	}
}
</script>