<template>
	<div>
		<div class="pull-right pb-4 col-lg-4 col-md-12">
			<b-input-group>
	            <b-form-input v-model="filter" placeholder="Buscar"></b-form-input>
	            <b-input-group-append>
	              <b-button :disabled="!filter" @click="filter = ''">Limpiar</b-button>
	            </b-input-group-append>
	        </b-input-group>
		</div>
		<b-table striped hover bordered responsive 
			:items="items" 
			:fields="fields"
			:per-page="perPage"
			:current-page="currentPage"
			:filter="filter"
			@filtered="onFiltered"
			:busy="loading"
			striped responsive="sm"
			show-empty
		>	
			<template v-slot:empty="row">
				<div class="text-center">
              		<h4>No hay datos</h4>
				</div>
            </template>
            <template v-slot:emptyfiltered="row">
            	<div class="text-center">
              		<h4>No hay resultado</h4>
            	</div>
            </template>
            <template v-slot:table-busy>
              	<div class="text-center">
                  	<h3>
	                  	<div>
	                      <span class="fas fa-spinner fa-pulse"></span>
	                  	</div>
                  		Cargando
                  	</h3>
              	</div>
            </template>
			<template slot="#" slot-scope="data">
		        {{ currentPage>0? 1 + data.index + ((currentPage - 1) * perPage): data.index + 1}}
		    </template>
		    <template slot="actions" slot-scope="row">
		    	<b-button v-if="options.buttons.view.visible" size="sm" variant="primary" title="Ver" @click="view(row.item, row.index, $event.targe, options.buttons.view)" class="mr-1">
		          <i class="fa fa-eye"></i>
		        </b-button>
		        <b-button v-b-modal.edit v-if="options.buttons.edit.visible && options.buttons.edit.view=='modal'" size="sm" variant="warning" title="Editar" @click="edit(row.item, options.buttons.edit)" class="mr-1">
		          	<i class="fa fa-edit"></i>
		        </b-button>
		        <b-button v-if="options.buttons.edit.visible && options.buttons.edit.view!='modal'" size="sm" variant="warning" title="Editar" @click="edit(row.item,options.buttons.edit)" class="mr-1">
		          	<i class="fa fa-edit"></i>
		        </b-button>
		        <b-button v-if="options.buttons.delete.visible" size="sm" variant="danger" title="Eliminar" @click="del(row.item, row.index, $event.target)" class="mr-1">
		          <i class="fa fa-trash"></i>
		        </b-button>
		    </template>
		</b-table>
		<div v-if="items.length">
			<app-pagination 
	    		:currentPage.sync="currentPage"
	    		:perPage.sync="perPage"
	    		:totalRows="totalRows"
	    	></app-pagination>
		</div>
		<app-modal-edit :infoModal="infoModal"></app-modal-edit>
		<app-modal-del :delModal="delModal"></app-modal-del>
	</div>
</template>
<script>
import Bus from '../modules/eventbus';
import AppPagination from './AppPaginationComponent';
import AppModalEdit from './AppModalEditComponent';
import AppModalDel from './AppModalDelComponent';
export default {
	components: { AppPagination, AppModalEdit, AppModalDel },
	props: {
		items: { type: [Array], required: true },
		fields: { type: [Array], required: true },
		loading: { type: Boolean },
		types: { type: [String] },
		options: { type: [Object] }
	},
	data() {
		return {
			perPage: 0,
			currentPage: 1,
			totalRows: 0,
			filter: null,
			infoModal: {
	          id: 'info-modal',
	          title: '',
	          content: '',
	          types: ''
	        },
	        delModal: {
	          id: 'del-modal',
	          title: '',
	          content: '',
	          types: ''
	        }
		}
	},
	methods: {
		onFiltered(filteredItems) {
            this.totalRows = filteredItems.length
            this.currentPage = 1
        },
		edit(item, options) {
			if(options.view == 'route') {
				this.$router.push({ name: options.name, params:{'id': item._id, 'edit': true} })
			}

			Bus.$emit('id_', item._id);
	    },
	    view(item, index, button, options) {
			if(options.view == 'route') {
				this.$router.push({ name: options.name, params:{'id': item._id, 'edit': false} })
			}

	        this.infoModal.title = `Row index: ${index}`
	        this.infoModal.content = '<input type="text">' + JSON.stringify(item, null, 2)
	        this.$root.$emit('bv::show::modal', this.infoModal.id, button)
	    },
	    del(item, index, button) {
	        this.$bvModal.msgBoxConfirm(`Por favor confirma que desea elimina el ${this.types}?`, {
		          title: 'Confirmación de eliminar',
		          size: 'md',
		          buttonSize: 'md',
		          okVariant: 'danger',
		          okTitle: 'SI',
		          cancelTitle: 'NO',
		          footerClass: 'p-2',
		          hideHeaderClose: false,
		          centered: true
		        })
		        .then(value => {
		            if(value) {
		            	this.option_del(item._id)
		            	.then(response => {
		            		this.option_upd()
			            	this.$bvModal.msgBoxOk(response.data.status, {
					          title: 'Confirmación',
					          size: 'md',
					          buttonSize: 'sm',
					          okVariant: 'success',
					          headerClass: 'p-2 border-bottom-0',
					          footerClass: 'p-2 border-top-0',
					          centered: true
					        })

		            	})
		            	.catch(error => {
		            		var message ="Error al eliminar"
		            		if(error.response.status == 422) {
		            			message = error.response.data.status
		            		}
							this.$bvModal.msgBoxOk(message, {
					          title: 'Error',
					          size: 'md',
					          buttonSize: 'sm',
					          okVariant: 'danger',
					          headerClass: 'p-2 border-bottom-0',
					          footerClass: 'p-2 border-top-0',
					          centered: true
					        })		            		
		            	})
		            }
		        })
	    },
	    option_del(id) {
	    	switch(this.types) {
	    		case 'estudiante':
		    		return this.$http.del_students(id)
		    		break;
		    	case 'instrumento':
		    		return this.$http.del_instruments(id)
		    		break;
	    	}
	    }, 
	    option_upd() {
	    	switch(this.types) {
	    		case 'estudiante':
		    		return Bus.$emit('getStudents')
		    		break;
		    	case 'instrumento':
		    		return Bus.$emit('getInstruments')
		    		break;
	    	}
	    }
	},
	updated() {
		if(this.filter == null) {
			this.totalRows = this.items.length
		}
	},
	created() {
		this.perPage = this.paginate_config.perPage
	}
}
</script>