<template>
	<div>
		<button color="dark" @click.prevent="pickFile" >Cargar imagen</button>
        <input type="file" style="display: none" ref="image" accept="image/*" @change="onFilePicked">
	</div>
</template>
<script>
export default {
	props: {
		file: {},
		imageName: {},
		imageFile: {},
		imageUrl: {},
	},
	methods: {
	    pickFile () {
	       this.$refs.image.click();
	    },
      	onFilePicked (e) {
	        const files = e.target.files
	        this.$emit('update:file', files[0])

	        if(files[0] !== undefined) {
	          this.$emit('update:imageName', files[0].name)

	          if(files[0].name.lastIndexOf('.') <= 0) {
	            return
	          }
	          const fr = new FileReader ()
	          fr.readAsDataURL(files[0])
	          fr.addEventListener('load', () => {
	            this.$emit('update:imageUrl', fr.result)
	            this.$emit('update:imageFile', files[0])
	          })
	        } else {
	          this.$emit('update:file', '')
	          this.$emit('update:imageName', '')
	          this.$emit('update:imageFile', '')
	          this.$emit('update:imageUrl', '')
	        }
       	}
	}	
}
</script>