<template>
	<div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Instrumentos Músical</h4>
                </div>
                <div class="card-body">
                	<div class="pull-left">
                    	<b-button v-b-modal.create_permission>Agregar</b-button>
                    </div>
                	<app-table class="pt-5" 
                	 :items="items" 
                	 :fields="fields" 
                	 :loading="loading"
                	 :types="'instrumento'" 
                	 :options="options"
                	></app-table>
				</div>
			</div>
		</div>
		<app-create></app-create>
		<app-edit></app-edit>
	</div>
</template>
<script>
import Bus from '../../../modules/eventbus';
import AppTable from '../../../components/AppTableComponent';
import  AppCreate from './AppCreate';
import  AppEdit from './AppEdit';
export default {
	name: 'AppIndex',
	components: { AppCreate, AppEdit, AppTable },
	data() {
		return {
			fields: [
				'#',
				{ key: 'name', label: 'Nombre', sortable: true },
				{ key: 'description', label: 'Descripción', sortable: true },
				{ key: 'actions', label: 'Opciones', sortable: false, class: 'text-center' }, 
			],
			items: [],
			loading: true,
			options: {
				"buttons": {
					"view": {
						visible: false
					},
					"edit": {
						visible: true,
						view: 'modal'
					},
					"status": {
						visible: false,
						view: 'modal'
					},
					"delete": {
						visible: true
					}
				}
			}
		}
	},
	methods: {
		index() {
			this.$http.instruments()
			.then(res => {
				this.items = res.data
				this.loading = false
			})
			.catch(err => {
				this.loading = false
			})
		}
	},
	created() {
		this.index()
		
		Bus.$on('getInstruments', ()=> {
            this.index()  
        })
	}
}
</script>