<template>
	<div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Padres y Representantes</h4>
                    <div class="text-right">
                    	<b-button v-b-modal.modal-1>Agregar</b-button>
                    </div>
                </div>
                <div class="card-body">
					<div>
				    	<b-table striped hover :items="items" :fields="fields"></b-table>
				  	</div>
				</div>
			</div>
		</div>
		<app-create></app-create>
	</div>
</template>
<script>
	import AppCreate from './AppCreate'
	export default {
		components: { AppCreate },
		data() {
			return {
				fields: ['first_name', 'last_name', 'age'],
				items: [
					{ isActive: true, age: 40, first_name: 'Dickerson', last_name: 'Macdonald' },
			        { isActive: false, age: 21, first_name: 'Larsen', last_name: 'Shaw' },
			        { isActive: false, age: 89, first_name: 'Geneva', last_name: 'Wilson' },
			        { isActive: true, age: 38, first_name: 'Jami', last_name: 'Carney' }
			    ],
			}
		}
	}
</script>