<template>
	<div>
		<admin-header></admin-header>
		<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
		<admin-sidebar></admin-sidebar>
		<main class="app-content">
	      <div class="row">
	        <div class="col-md-12">
	          <div class="tile">
	            <div class="tile-body">
					<router-view></router-view>
	            </div>
	          </div>
	        </div>
	      </div>
	    </main>
		<admin-footer></admin-footer>
	</div>
</template>
<script>
import AdminHeader from './common/BaseAdminHeader';
import AdminSidebar from './common/BaseAdminSidebar';
import AdminFooter from './common/BaseAdminFooter';

export default {
	name: 'AppAdmin',
	components: {
		AdminHeader,
		AdminSidebar,
		AdminFooter
	}
}
</script>
