<template>
	<div>
		<section class="material-half-bg">
      		<div class="cover"></div>
    	</section>
	    <section class="login-content">
			<router-view></router-view>
	    </section>
	    <section>
	    	<div class="footer text-center">
	    		<strong>
			        Copyright &copy; 2019 - {{ year }}
			        All Rights Reserved. Designed and Developed by <a target="__blank" href="https://sercontec.com.ve">Germán Gutierrez Valero</a>
			    </strong>
	    	</div>
	    </section>
	</div>	
</template>
<script>
export default {
  name: 'AppLogin',
  data () {
    return {
      year: new Date().getFullYear()
    }
  }
}
</script>

